.container {
  position:relative;
  padding-inline: 70px;
  color: #003366;
  overflow:hidden;
  height:inherit;
 
  h1 {
    font-size: 64px;
    font-weight: 600;
    white-space: nowrap;
  }
  h3 {
    font-size: 36px;
    font-weight: 500;
  }
}
.sair{
  display:flex;
  justify-content:right;
}
.line {
  display: flex;
  justify-content: space-between;
  margin-top:50px;
  align-items:center;
}
.salas {
  background-color: #003366;
  color: white;
  padding: 10px;
  appearance: none;
  font-size: 20px;
  border-radius: 12px;
  display:flex;
  text-decoration:none;
  border:0px;
  outline:none;
}
input::placeholder {
  color: white; /* Cor do placeholder */
  opacity: 1; /* Torna o placeholder totalmente opaco */
}
.title{
    margin-top:50px;
    width:100%;
    display:flex;
    justify-content:space-between;
}
.title2{
    width:47%;
    display:flex;
    justify-content:space-between;
    margin-right:5%;
}
.alunos{
    padding:20px;
    border-radius:12px;
    display:flex;
    justify-content:space-between;
    font-size: 20px;
    overflow-y:hidden;
    background-color:#F19953;
    margin-top:5px;
}
.ra{
    width:50%;
    display:flex;
    justify-content:space-between;
    margin-right:5%;
}
.alunosSection{
  height:280px;
  overflow-y:scroll;
}