footer {
    display: flex;
    background-color: var(--primary-color);
    justify-content: space-evenly;
    height: auto;
    margin-top: 150px;
    color: #fff;
}
.footeerr {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}
.footeerr ul {
    list-style-type: none;
}
.footeerr > ul > li{
    font-weight: normal;
}

.img-footer {
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-footer img {
    width: 170px;
}
.footer-imgss img {
    margin-right: 20px;
    width: 2em;
}

.footer-imgss {
    margin-left: 10px;
    display: flex;
    align-items: center;
    gap: 60px;
}
.footer-verdinho {
    background-color: var(--secondary-color);
    margin-bottom: 10px;
    border-radius: 10px;
}
.footer-verdinho p {
    color: var(--primary-color);
    font-weight: bold;
    padding: 10px;
}