.boxblue{
    position: relative;
    width:42%;
    height:400px;
    border-radius: 36px;
    background: var(--Primria, #036);
    
}

.boxblue img{
    position: relative;
    margin-top:50px;
    margin-left:50px;
}

.boxblue h1{
    position: relative;
    color:white;
    padding-top:10px;
    padding-left:50px;
    padding-right:50px;
    text-align: left;
    font-size:25px;
}

.pblue{
    position: relative;
    color:white;
    padding-top:10px;
    padding-left:50px;
    padding-right:50px;
    text-align: left;
    font-size:25px;
}