@font-face {
    font-family: 'Bebas';
    src: url(../../../public/assets/font/Bebas_Neue/BebasNeue-Regular.ttf);
}

header {
    background-color: var(--primary-color);
    height: 80px;
    width: 95%;
    margin: 10px auto;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
header .logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

header .logo img{
    width: 200px;
}

a {
    color: #fff;
    text-decoration: none;
}

.link-nav {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
    color: #fff;
}

ul li {
    margin: 10px;
    cursor: pointer;
}

ul li:hover {
    text-decoration: underline;
    margin: 10px;
    cursor: pointer;
}

.button {
    display: flex;
    color: #fff;
    gap: 20px;
    cursor: pointer;
}

.button-1 {
    border-radius: 20px;
    color: #83BCFF;
    padding: 10px;
    width: 150px;
    text-align: center;
    border: 4px solid var(--secondary-color);
}

.button-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    color: #83BCFF;
    border: 4px solid var(--secondary-color);
    padding: 10px;
    width: 150px;
}

.button :hover{
    transform: scale(1.1);
}

.parte-home {
    display: flex;
    flex-direction: column;
}
.parte-home img {
    width: 480px;
}
.classe-numero1 > h2 {
    width: 390px;
    font-weight: normal;
    font-size: 3em;
    font-family: 'Bebas', sans-serif;
}
.classe1 {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 40px;
    justify-content: space-around;
}
.classe-numero4 h1{
    font-family: 'Bebas';
    width: 400px;
    font-weight: normal;
    font-size: 3.4em;
}
.classe-numero4 {
    display: flex;
    flex-direction: column;
}
.classe-numero4 p {
    width: 500px;
    font-weight: 400;
    font-size: 1.6em;
}
.paragrafo-img > p {
    margin-top: 20px;
    font-weight: 400;
    width: 400px;
    font-size: 1.6em;
    color: #003366;
}
.paragrafo-img > h1 {
    width: 400px;
    font-weight: normal;
    font-size: 3em;
    font-family: 'Bebas';
}


.alouuu > div > img {
    width: 220px;
}
.alouuu p {
    margin-top: 20px;
    text-align: center;
    width: 350px;
    font-size: 1.3em;
    padding: 15px;
}
.alouuu h1 {
    font-family: 'Bebas';
    font-weight: normal;
    font-size: 2.2em;
}
.alouuu {
    background-color: var(--tertiary-color); 
    border-radius: 20px;
    height: 560px;
    width: 340px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    color: #fff;
}
.parte-cads {
    display: flex;
    margin-top: 50px;
    align-items: center;
    justify-content: space-evenly;
    gap: 30px;
    margin: 30px;

}
.parte-cads h1 {
    text-align: center;
}

.parte-cads > div {
    border-radius: 100px;
}
.titulo-hompage {
    margin-top: 80px;
}
.titulo-hompage h1 {
    text-align: center;
    font-family: 'Bebas';
    font-weight: normal;
    font-size: 3em;
}
