section {
    background-color: var(--quaternary-color);
    width: 75%;
    
    flex-direction: column;
}
section > .buttt {
    display: flex;
    border: 5px solid black;
}
input {
    padding: 15px;
    width: 400px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 20px;
    color: #fff;
}