.navbar {
    width: 22%;
    height: 80vh;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px 0;
    margin-left: 5vh;
    margin-top: 5vh;
}

.logo {
    margin: 20px 30px;

}